.home {
  margin-top: @nav-height;
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }

    @media @mobile{
      flex-direction: column;
      .text-content,.img-content{
        width: 100%;
      }
    }

  }

  .inverse-content {
    padding-bottom: 30px;
    .border-bottom;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }

    @media @mobile{
      flex-direction: column-reverse;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }

    @media @mobile{
      width: 100%;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
      .btn{
        .custom-button(30px, 100%, @button-bg, @white, 10px);
      }
    }

    @media @mobile{
      flex-direction: column;
      align-items: center;
      .destination{
        width: 80%;
      }
    }
  }

  .featured{
    flex-direction: column;
    .border-bottom;
    margin-top: 0;
    .img-content, .text-content{
      img{
        border-radius: 0;
      }
      margin: 0 0 20px;;
      width: 100%;
    }
  }

  @media @mobile{
    margin-top: @nav-mobile-height;
    padding: 0 10%;
  }
}// home